
.education{
    margin: 20px 0;
}

.single-education{
    background: rgb(17, 115, 145);
    margin:0 auto;
    margin-bottom: 20px;
    width: 100%;
    font-size: 18px;
     color:white;
    padding:5px 10px;
    letter-spacing: 0.1rem;
    /* background: rgb(191, 192, 192);
    color:#424242; */

}


@media screen and (min-width:860px){
  .education-center{
      display: flex;
      flex-wrap: wrap;
       justify-content: space-between;
  }

  .single-education{
      flex:0 0 calc(50% - 20px);
     margin-right: 0;
     margin-left: 0;
     padding:10px 10px;
     clip-path: polygon(0% 0%, 100% 0%, 95% 100%, 0% 100%);
  }

  
}

