

.single-project{
    width:100%;
    margin:0 auto;
    box-shadow: 0 0 4px 1px grey;
    margin-bottom: 30px;

}

.single-project-img{
    width:100%;
    margin:0 auto;
    height: 350px;
}

.single-project-img img{
    width:100%;
    height: 100%;
    display: block;
    padding: 10px;
    }

.single-project-info{
    padding:10px;
}

.single-project-info h3{
   letter-spacing: 0.1rem;
   margin-bottom: 5px;
   color:rgb(9, 93, 119);

}

.single-project-info p{
    color:#424242;
    font-size: 18px;
}


@media screen and (min-width:664px){
  .projects-center{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  }

  .single-project{
     display: flex;
  }

  .single-project-img{
    width:300px;
    height: 280px;
    }

.single-project-img img{
    width:300px;
    height: 280px;
    }


}

@media screen and (min-width:964px){
.projects-center{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
    max-width: 1180px;
    margin:0 auto;
}
  
.single-project{
    flex:0 0 calc(49%);
    display: flex;
    margin:0 0;
    margin-bottom: 25px;
    position: relative;

}
  
.single-project-img{
    width:250px;
    height: 250px;
    }
  
.single-project-img img{
    width:250px;
    margin:0 auto;
    height: 250px;
    transition: all 0.3s ease-in-out;
    }
  
.single-project:hover .single-project-img img{
   transform: scale(1.05);  
}
  }
    

